# OS & IDEs
.DS_Store
.idea/
.vscode/
*.iml
*.log

# Backend (Spring Boot / Maven)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Frontend (React / Vite / Node)
node_modules/
dist/
dist-ssr/
.eslintcache
*.local

# Environment Variables
.env
.env.*
!.env.example